<br>
<br>
<h2><%= @boat.boat_model %></h2>
<p><%= @rent.reservation_date_begin %></p>
<p><%= @rent.reservation_date_end %></p>

<%= link_to "delete this reservation", rent_path(@rent), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this reservation?" } %>
