.background{
  background-image: url("background.jpg");
  height: 100%;
  object-fit: contain;
  background-size: cover;
}
.container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;

}

.card-product{
  height: 300px;
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: azure;
  padding: 20px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  // flex-grow: 1;
  background-image: url("mer.jpg")
}
