.container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;

}
.card-product{
  border: 1px solid black;
  border-radius: 15px;
  background-color: azure;
  padding: 20px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  // flex-grow: 1;
  background-image: url("mer.jpg")
}
