

<div class="boat-card-header">
  <h1>RBNBOAT</h1>
    <a href="..." class="btn btn-primary">Retour homepage</a>
    <a href="..." class="btn btn-primary">Se connecter</a>
</div>

<div class="background-image-card">
  <img src= "picture" alt="oopsie">
</div>

<div class="background form">
  <h2> boat_model </h2>
    <p> description </p>
    <p> picture </p>
    <p> licence </p>
    <p> person_number </p>
    <p> price </p>
    <p> localisation </p>
</div>
