
<div class="container"></div>
  <div class="boat-card-header">
    <h1>RBNBOAT</h1>
      <a href="..." class="btn btn-primary">Retour homepage</a>

      <%= link_to "Se connecter", new_user_session_path, class:"btn btn-primary" %>
  </div>

  <div class="background image card">

    <div class="background image card container flex-column">

    <div class="background form">
      <h2> boat_model </h2>
        <p> description </p>
        <p> picture </p>
        <p> licence </p>
        <p> person_number </p>
        <p> price </p>
        <p> localisation </p>
        </div>
      </div>
    </div>
  </div>
</div>
