<div class="background-homepage">
  <%# <img src="background_img.jpg" alt="yacht"> %>
  <br>
  <div class="container flex-column ">
    <% @boats.each do |boat|%>
      <%= link_to boat_path(boat) do %>
        <div class="card-product d-flex justify-content-around my-1" >
          <div class="">
              <h2><%= boat.boat_model %></h2>
              <h2>Modele</h2>
          </div>
          <div>
            <%= image_tag boat.picture, size:"300x300" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
